/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
* {
    margin: 0;
  }
   
  body {
    background-color: #fbe8ffff;
  }
   
  #wrapper {
    background-color: #fbe8ffff;
    height: 100vh;
    padding: 10px;
    margin: auto;
  }
   
  header {
    background-color: #b76798ff;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
  }
   
  #hoofd {
   background-color: #e0a6d0;
    width: 65%;
    height: 90%;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    float: left;
  }
 
  #extra {
    background-color: #d291b8ff;
    width: 20%;
    height: 45%;
    margin: 1% 1% 1% 1%;
    cursor: pointer;
    float: right;
  }
 
 
 
  nav {
   background-color: #d291b8ff;
   float: left;
   width: 10%;
   height: 90%;
   margin: 10px 10px 10px 10px;
  }
   
  footer {
    clear: both;
    background-color: #b76798ff;
    width: 100%;
    height: 10%;
    
 
  }
