/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
* {
   margin: 0;
 }
  
 body {
   background-color: #d291b8ff;
 }
  
 #wrapper {
   background-color: #d291b8ff;
   height: 100vh;
   padding: 10px;
   margin: auto;
 }
  
 header {
   background-color: #b76798ff;
   width: 100%;
   height: 20%;
   margin-bottom: 10px;
   text-align: center;
   font-size: xx-large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
 }
  
 #hoofd {
  background-color: #e0a6d0;
  padding: 5px;
   width: 65%;
   height: 90%;
   margin: 10px 10px 10px 10px;
   cursor: pointer;
   float: left;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 nav {
  background-color: #e0a6d0;
  padding: 5px;
  float: left;
  width: 10%;
  height: 98%;
  margin: 10px 10px 10px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
  
 footer {
   clear: both;
   background-color: #b76798ff;
   width: 100%;
   height: 13%;
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }